data_management/db_soundcharts/editorial_tracks_info_21-22.csv
data_management/db_soundcharts/editorial_tracks_info_22-23.csv
data_management/db_soundcharts/editorial_tracks_info_23-24.csv
data_management/db_soundcharts/major_tracks_info_21-22.csv
data_management/db_soundcharts/major_tracks_info_22-23.csv
data_management/db_soundcharts/major_tracks_info_23-24.csv
data_management/major_tracks_info_23-24_weekly_normalized.csv
data_management/major_tracks_info_22-23_weekly_normalized.csv
data_management/major_tracks_info_21-22_weekly_normalized.csv
data_management/db_soundcharts/editorial_tracks_followers_21-22.csv
data_management/db_soundcharts/editorial_tracks_followers_22-23.csv
data_management/db_soundcharts/editorial_tracks_followers_23-24.csv
data_management/db_soundcharts/major_tracks_followers_21-22.csv
data_management/db_soundcharts/major_tracks_followers_22-23.csv
data_management/db_soundcharts/major_tracks_followers_23-24.csv
